.calendar-extension {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.calendar-extension .toolbar {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  height: 75px;
  border-bottom: 0px solid #eaedef;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.calendar-extension .toolbar .date-heading {
  font-size: 18px;
  font-weight: 400;
  color: #11161c;
}

.calendar-extension .container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  flex: 1;
}

.calendar-extension .container .week {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  flex: 1;
}

.calendar-extension .weekdays {
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}

.calendar-extension .weekdays .weekday {
  flex: 1;
  color: #11171d;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
}
