.task-modal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.task-modal-container .tasks {
  padding: 0px;
  flex: 1;
  width: 100%;
}

.task-modal-container .panels {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  width: 100%;
}

.task-modal-container .panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  height: 100%;
  background-color: #f8f9fa;
  position: relative;
}

.task-modal-container .panel:first-child {
  border-right: 2px solid #edf0f2;
}

.task-modal-container .compose {
  background: white;
  border-top: 1px solid #edf0f2;
  width: 100%;
  padding: 20px;
}

.task-modal-container .compose textarea {
  color: #202529;
  font-size: 12px;
  font-weight: 500;
  border: none;
  width: 100%;
  resize: none;
}

.task-modal-container .compose textarea::placeholder {
  color: #adb5bd;
}

.task-modal-container .clear {
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  background: rgb(255, 228, 228);
  border-radius: 50%;
  overflow: hidden;
  width: 14px;
  height: 14px;
  border: 1px solid #ec224b;
  transition: 0.2s border;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  display: none;
}

.showclearonhover:hover .clear {
  display: flex;
}

.task-modal-container .clear.assigned {
  left: 5px;
  top: 5px;
  z-index: 10;
}

.task-modal-container .clear:hover {
  background: #ffc3cf;
}

.task-modal-container .delete-bar {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
  padding: 10px 20px 10px 20px;
  background: rgb(255, 228, 228);
  border-bottom: 1px solid #ec224b;
  border-top: 1px solid #ec224b;
}

.task-modal-container .delete-bar .text {
  color: #ec224b;
  font-size: 14px;
  font-weight: 500;
  margin-right: auto;
}

.task-modal-container .title-bar {
  width: 100%;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  position: relative;
  padding: 0px 10px 0px 20px;
  height: 55px;
  background: white;
  border-bottom: 2px solid #edf0f2;
}

.task-modal-container .title-bar .title {
  flex: 1;
  padding: 20px;
  color: #202529;
  font-size: 28px;
  font-weight: 300;
}

.task-modal-container .title-bar .date {
  padding-right: 10px;
  color: #202529;
  font-size: 12px;
  font-weight: 600;
}

.task-modal-container .title-bar .user {
  padding-left: 10px;
  color: #202529;
  font-size: 12px;
  font-weight: 600;
}

.task-modal-container .title-bar .icon {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  transition: 0.25s background-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 10px;
}

.task-modal-container .title-bar .icon:hover {
  background-color: #eaedef;
}

.task-modal-container .content {
  overflow: scroll;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.task-modal-container .content .title {
  padding: 20px;
  border-bottom: 1px solid #edf0f2;
  background: white;
}

.task-modal-container .content .title textarea {
  color: #202529;
  font-size: 28px;
  font-weight: 500;
  border: none;
  width: 100%;
  resize: none;
  height: 50px;
}

.task-modal-container .content .title textarea::placeholder {
  color: #eaedef;
}

.task-modal-container .content .description {
  padding: 20px;
  background: white;
}

.task-modal-container .content .description .heading {
  color: #adb5bd;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
}

.task-modal-container .content .description .textarea {
  width: 100%;
}

.task-modal-container .content .description textarea {
  color: #11171d;
  font-weight: 500;
  font-size: 12px;
  border: none;
  width: 100%;
  resize: none;
  padding: 0px;
  margin: 0px;
  min-height: 200px !important;
}

.task-modal-container .content .description textarea::placeholder {
  color: #cfd4d9;
}

.task-modal-container .content .description .description-button {
  padding: 5px 10px 5px 10px;
  font-weight: 600;
  color: #adb5bd;
  font-size: 10px;
  border: 2px solid transparent;
  border-radius: 20px;
  margin-right: 2px;
  background-color: #eaedef;
  cursor: pointer;
  transition: 0.2s border-color;
}

.task-modal-container .content .description .description-button.cancel {
  background-color: #f8f9fa;
}

.task-modal-container .content .description .description-button:hover {
  border-color: #cfd4d9;
}

.task-modal-container .content .description .task-description-markdown em em {
  color: #cfd4d9;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}

.task-modal-container .content .description .task-description-markdown {
  width: 100%;
  border: 0px;
  padding: 0px;
  height: 100px;
  resize: none;
  color: #11171d;
  font-weight: 500;
  font-size: 12px;
  margin: 0px;
}

.task-modal-container .content .description .task-description-markdown p {
  margin: 0px;
  padding: 0px;
}

.react-datepicker__day--today {
  background-color: #11171d;
}

.react-datepicker__header {
  background-color: #f8f9fa;
}

.assigned-member {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.task-modal-container .content .files {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 10px 20px 10px 20px;
  background: white;
  border-bottom: 1px solid #edf0f2;
}

.task-modal-container .content .files .file {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 49%;
  padding: 2px 5px 2px 5px;
  border-radius: 7px;
  margin: 2px;
}

.task-modal-container .content .files .file a.filename {
  color: #11171d;
  font-weight: 600;
  font-size: 12px;
  display: block;
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-modal-container .content .files .file a.filename:hover {
  text-decoration: underline;
}

.task-modal-container .messages {
  flex: 1;
  padding: 20px;
  width: 100%;
  background: #f8f9fa;
  padding: 20px;
}

.task-modal-container .messages .message {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 15px;
  margin-top: 15px;
}

.task-modal-container .messages .message .user {
  padding-left: 10px;
  color: #202529;
  font-size: 12px;
  font-weight: 800;
}

.task-modal-container .messages .message .date {
  padding-left: 10px;
  color: #adb5bd;
  font-size: 12px;
  font-weight: 600;
}

.task-modal-container .messages .message .text {
  padding-left: 10px;
  color: #202529;
  font-size: 14px;
  font-weight: 500;
}
